.loader-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.loader-logo {
    width: 120px;
    margin-bottom: 20px;
}

.spinner {
    margin-top: 15px;
    width: 40px;
    height: 40px;
    border: 4px solid #eee;
    border-top: 4px solid #ff4d4f;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}